{% extends "userena/profile_detail.html" %}
{% load thumbnail %}
{% block content %}
{{ block.super }}

<h3>Levels</h3>

{% for level in profile.user.level_set.all %}
<div class="level">
	<strong>{{ level.question.short_name }}:</strong> Level {{ level.level }} ({{ level.answered }} question{{ level.answered|pluralize }} answered)
</div>
{% endfor %}

<h3>Answers</h3>

{% for answer in profile.user.answer_set.all %}
<div class="answer">
	<a href="{{ MEDIA_URL }}{{ answer.artwork.image }}"><img src="{% thumbnail answer.artwork.image 60x0 %}" style="thumb"/></a>
	<strong>{{ answer.question.question }}</strong>
	<ul>
		{% for response in answer.responses.all %}
		<li>{{ response.response }}</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}

{% endblock %}
